
.hero-div {
    margin-top: 50px !important;
    /* margin-left: 50px; */
}

.hero {
    width: 100% !important;
    border-radius: 100% !important;
    border: 10px !important;
    border-color: black !important;
    margin-top: -100px !important;
    margin-left: -100px !important;
}

.hero-clip {
    mix-blend-mode: darken !important;
    width: 50% !important;
    position: absolute !important;
    margin-left: -100px !important;
}

.hero-clip2 {
    mix-blend-mode: darken !important;
    width: 30% !important;
    position: absolute !important;
    margin-left: 100px !important;
}

.hero-card {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    align-items: center !important;
    padding-top: 200px !important;
}

.trickery {
    padding-top: -100px !important;
    padding-left: 150px!important;
}

.hero-text {
    font-size: 80px !important;
    background-image: linear-gradient(black, rgb(172, 26, 26)) !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text!important;
}

.hero-button {
    width: 100px !important;
    color: black !important;
    margin-left: 40% !important;
    background-image: linear-gradient(black, rgb(172, 26, 26)) !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    background-color: red !important;
    border-radius: 100px !important;
    border-color: black !important;
    height: 50px !important;
}




    
    




    @media only screen and (min-device-width: 1024px) and (max-device-width: 1280px) {


        
.hero-div                                                             
{
   
    margin-top: 50px !important;
    /* margin-left: 50px; */
   
}

.hero
{
    width: 100%  !important;
    border-radius: 100%  !important;
    border:  10px  !important;
    border-color: black  !important;
    margin-top: -100px  !important;
    margin-left: -100px !important;
 
}

.hero-clip
{
      mix-blend-mode: darken  !important;
      width: 50%  !important;
      position: absolute  !important;

      margin-left: -100px  !important;
}


.hero-clip2
{
      mix-blend-mode: darken  !important;
      width: 30% !important; 
      position: absolute  !important;

      margin-left: 100px  !important;
} 

.hero-card
{
   display: grid !important;
   grid-template-columns: 1fr 1fr !important;
    align-items: center !important;
    padding-top: 200px !important;
}






.trickery
{
    padding-top: -100px !important;
    padding-left: 150px!important;
} 


.hero-text
{
    font-size: 80px!important;
    background-image: linear-gradient( black, rgb(172, 26, 26)) !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text!important;

}


 .hero-button
{
    width: 100px!important;
    color: black!important;
    margin-left: 40% !important;
    background-image: linear-gradient( black, rgb(172, 26, 26)) !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    background-color: red !important;
    border-radius: 100px !important;
    border-color: black !important;
    height: 50px !important;
  
} 
 


    
    }
    
    @media only screen and (min-device-width: 220px) and (max-device-width: 912px) {
              /* .hero-div
    {
       
        margin-top: -200px;
        margin-left: -170px;

      
       
    } */
    
    .hero
    {
        width: 100%;
        position: absolute;
        left: 100px;
        top: 300px;
        z-index: -100;
      
     
       
    }
    
    .hero-clip
    {
          mix-blend-mode: darken;
          width: 150%;
          position: absolute;
            z-index: 1000;
           left: 100px;
            
     
          
    }
    
    
    .hero-clip2
    {
          mix-blend-mode: darken;
          width: 100px;
          position: absolute;
          display: none;
    
  
    }
    
    
    
    .hero-card{
        display: flex !important;
        width: 100%;
     
        flex-direction: column;
    
       
        gap: 20px;
       
        
        
    }
    
    
    
    
    .trickery
    {
       width: 100%;
       height: 100vh;
       display: flex;
       align-items: center;
       justify-content: center;
       align-content: center;
      
    }
    
    
    .hero-text
    {
       width: 100%;
        background-image: linear-gradient( black, rgb(172, 26, 26));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        position: relative;
        top: -50px;
        right: 50px;
        zindex: 70px;
     
        
     
       
     
    
        
       
        
    
    
    }
    
    
    .hero-text h1
    {   

        
        font-size: 3rem !important;
        text-align: center;
    }
    
    
    .hero-button
    {
        width: 100px;
        color: black;
       
        background-image: linear-gradient( black, rgb(172, 26, 26));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-color: red;
        border-radius: 100px;
        border-color: black;
        height: 50px;
      
    }
    }
